<div class="wrapper-form">
  <div class="container-form">

    <p>College application for <%= @college_app.college.name %></p>
    <p><%= @college_app.college.address %></p>
    <p><%= @college_app.college.website %></p>
    <p>Application deadline: <%= @college_app.deadline %></p>
    <p><%= @college_app.category %></p>
    <p><%= @college_app.status %></p>

    <%= link_to "Add a Task", new_college_app_task_path(@college_app), class:"btn-rd-out-black" %>
    <%= link_to "edit", edit_student_college_app_path %>
    <%= link_to "delete", college_app_path, method: :delete %>
  </div>
</div>

