<!-- <div class="wrapper-form"> -->
  <div class="container">
    <div class="text-center padded">
      <p>College application for <%= @college_app.college.name %></p>
      <p><%= @college_app.college.address %></p>
      <p><%= @college_app.college.website %></p>
      <p>Application deadline: <%= @college_app.deadline.strftime("%A, %B %m, %Y") %></p>
      <p><%= @college_app.category %></p>
      <p><%= @college_app.status %></p>
    </div>
      <div class="container-tasks">
          <div class="add_task">
            <% apps_path = current_user.is_counselor ? student_college_app_tasks_path(college_app_id: @college_app.id) : college_app_tasks_path(college_app_id: @college_app.id) %>
            <%= form_for([@college_app, @new_task], url:"#{apps_path}", method: :post) do |f| %>
              Name: <%= f.text_field :name %>
              Due date: <%= f.date_field :due_date, as: :date_time_picker%>
              Attachment: <%= f.file_field :document %>
              <%= f.hidden_field :document_cache %>
              <%= f.submit %>
            <% end %>
          </div>
      <% tasks_chronological = @college_app.tasks.order(:due_date) %>
      <% tasks_chronological.each do |task| %>
      <% edit_task = current_user.is_counselor ? edit_student_college_app_task_path(@student, @college_app) : edit_college_app_task_path(@college_app) %>
        <div class="task">
          <div class="task-content">
            <div class="name"><p><%= task.name %></p>
            <p>Due: <em><%= task&.due_date&.strftime("%A, %B %m, %Y") %></em></p>
            </div>
            <%# document_link = task.document ? task.document : "nothing" %>
            <div class="attachment"><%#= document_link %></div>
            <% if task.status == "not done" %>
            <div class="edit"><p><%= button_to [:approve, @task], class:"btn btn-rd-danger-small"%></p></div>
            <% elsif task.status == "pending" %>
            <p>pending button</p>
            <% else %>
            <div class="btn btn-rec-green-sm-outline">approved</div>
            <% end %>
            <p><%#= link_to  "delete task", delete_task, method: :destroy %></p>
          </div>
             <%# delete_task =  current_user.is_counselor ? student_college_app_task_path(@college_app) : college_app_task_path(@college_app) %>
          </div>
          <% end %>

        </div>

    <div class="text-center padded">
      <% edit_app = current_user.is_counselor ? edit_student_college_app_path : edit_college_app_path %>
        <%= link_to "edit this application", edit_app %>
        <%= link_to "delete this application", college_app_path, method: :delete %>
    </div>

  </div>
<!-- </div> -->
