<%= render 'shared/student_header'%>

<div class="wrapper-form">
  <div class="container-form">
    <div class="text-center">
      <p>College application for <%= @college_app.college.name %></p>
      <p><%= @college_app.college.address %></p>
      <p><%= @college_app.college.website %></p>
      <p>Application deadline: <%= @college_app.deadline %></p>
      <p><%= @college_app.category %></p>
      <p><%= @college_app.status %></p>
    </div>
    <div class="container">

    <% @college_app.tasks.each do |task| %>
      <div class="task">
        <p><%= task.name %></p>
        <p><em><%= task.due_date %></em>em</p>
         <% edit_task = current_user.is_counselor ? edit_student_college_app_task_path(@student, @college_app) : edit_college_app_task_path(@college_app) %>

         <%# delete_task =  current_user.is_counselor ? student_college_app_task_path(@college_app) : college_app_task_path(@college_app) %>

        <p><%= link_to "edit task", edit_task %></p>
        <p><%#= link_to  "delete task", delete_task, method: :destroy %></p>
        </div>
        <% end %>
        <% add_task = current_user.is_counselor ? new_student_college_app_task_path(@student, @college_app): new_college_app_task_path(@college_app) %>
        <%= link_to "Add a Task", add_task, class:"" %>
    </div>
    <div class="text-center padded">
      <% edit_app = current_user.is_counselor ? edit_student_college_app_path : edit_college_app_path %>
        <%= link_to "edit this application", edit_app %>
        <%= link_to "delete this application", college_app_path, method: :delete %>
    </div>

  </div>
</div>



