<div class="wrapper">
  <div class="container">

    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
      </div>
    </div>


    <div class="row">
      <div class="col-lg-8">
        <div class="card-box">
          <div>
          <div class="college-category"><%= @college_app.category.upcase %> SCHOOL</div>
          <ul class="list-inline">
            <li><h1><strong><%= @college_app.college.name %></strong></h1></li>
            <li><p><%= @college_app.college.address %></p></li>
            <li><p class="college-website-link"> <a href="<%= @college_app.college.website %>"><%= @college_app.college.website %></a></p></li>
          </ul>
          <ul class="list-inline app-header">
            <li><h4><strong>Application Deadline:</strong></h4></li>
            <li><h4><%= @college_app.deadline.strftime("%A, %B %m, %Y") %></h4></li>
            <li><p><%= distance_of_time_in_words(Time.now, @college_app.deadline) %> remaining</p></li>
          </ul>
          </div>
          <div>
          Application progress
            <p class="font-600"> <span class="text-custom pull-right" style="color: black"><%= @college_app.app_completion_percentage %>%</span></p>
            <div class="progress">
              <div class="progress-bar progress-bar-custom progress-animated wow animated animated" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: <%= @college_app.app_completion_percentage %>%; visibility: visible; animation-name: animationProgress;">
              </div>
            </div>
          <div class="app-header">
          </div>
          </div>
          <div class="top-margined">
          Application timeline
          </div>
        <div class="chart-container">
          <div class="header-title m-t-0 m-b-30">
            <div class="chart-container-inside">
              <%= line_chart @college_app.tasks.group_by_day(:due_date).count,label: "Tasks due" %>
            </div>
          <div class="tasks-due">Number of Tasks</div>
          <div class="due-date">Due Date</div>
          </div>
        </div>
        </div>
      </div>
      <!-- morris donut right here -->
    <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="card-box widget-user">

              <!-- Avater -->
              <div class="avatar-container">
                <% if user_signed_in? && current_user.is_counselor  %>
                  <%= link_to student_path(@student) do %>
                <%= cl_image_tag @student.photo, :gravity=>"face", :width=>50, :height=>50, :crop=>"fill", :radius=>"max" %>
                  <% end %>
                <% else %>
                <%= cl_image_tag current_user.counselor.photo, :gravity=>"face", :width=>50, :height=>50, :crop=>"thumb", :radius=>"max" %>
                <% end %>
                </div>
              <!-- Counsler or Student information -->
                <div class="wid-u-info">
                <% if user_signed_in? && current_user.is_counselor  %>
                  <%= link_to student_path(@student) do %>
                    <h3 class="m-t-0 m-b-5"> <strong><%= @student.name %></strong></h3>
                  <% end %>
                    <p class="text-muted m-b-5 font-13"><%= @student.email %></p>
                    <small class="text-custom"><strong>Enrollment Year:</strong> <%= @student.app_year %></small><br>
                    <small class="text-custom"><strong>High School:</strong> <%= @student.current_school %></small><br>
                    <small class="text-custom"><strong>SAT Score:</strong> <%= @student.satm %></small><br>
                    <small class="text-custom"><strong>TOEFL Score:</strong> <%= @student.toeflr %></small><br>
                <% else %>
                    <h3 class="header-title m-t-0">Your Counselor:</h3>
                     <h4 class="m-t-0 m-b-5"><%= @student.counselor.name %></h4>
                    <p class="text-muted m-b-5 font-13"><%= @student.counselor.email %></p><br>
                    <h3 class="header-title m-t-0">Your Information:</h3>
                    <small class="text-custom"><strong>Enrollment Year:</strong> <%= @student.app_year %></small><br>
                    <small class="text-custom"><strong>High School:</strong> <%= @student.current_school %></small><br>
                    <small class="text-custom"><strong>SAT Score:</strong> <%= @student.satm %></small><br>
                    <small class="text-custom"><strong>TOEFL Score:</strong> <%= @student.toeflr %></small><br>
              <!-- Need to seed data -->
                <% end %>
                </div>
          </div>
      </div>
      <div class="col-lg-4">
        <div class="card-box">
          <h4 class="header-title m-t-0">Tasks Overview</h4>
          <div class="row text-center m-t-30">
            <div class="col-xs-6">
              <h3 data-plugin="counterup"><%= @college_app.tasks.count %></h3>
              <p class="text-muted">Total Tasks</p>
            </div>
            <div class="col-xs-6">
              <h3 data-plugin="counterup"><%= @college_app.incomplete_tasks %></h3>
              <p class="text-muted">Open Tasks</p>
            </div>
          </div>

          <div class="text-center m-t-10">
            <div id="morris-donut-example" style="height: 245px;"></div>
          </div>

        </div>
      </div><!-- end col -->

    </div>
    <!-- end row -->


    <div class="row">
      <div class="col-lg-4">
        <div class="card-box">
        <!-- add a task card -->
          <h4 class="header-title m-t-0 m-b-30">Add a task</h4>

          <div class="inbox-widget nicescroll">
            <div id="new_task">
            <%= render 'shared/add_task_form' %>
            </div>
          </div>
        </div>
      </div><!-- end col -->

      <div class="col-lg-8">
        <div class="card-box">
          <h4 class="header-title m-t-0 m-b-30">Application Tasks</h4>
      <!-- tasks table -->
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>Task Name</th>
                <th>Due Date</th>
                <th class="text-center">Status</th>
                <th class="text-center">Attachment</th>
              </tr>
              </thead>
              <tbody id="tasks_table">
              <% @college_app.tasks_chronological.each do |task| %>
                <tr>
                  <td><%= task.name %></td>
                  <td><%= task.due_date.strftime("%d / %m / %Y") %></td>
                  <!-- task status buttons -->

                  <% if task.status =="approved" %>
                  <td class="text-center"><div id="task<%=task.id -%>" class="text-center"><span class="btn btn-rec-green-sm">Approved</span></div></td>

                  <% elsif task.status == "pending" && current_user.is_counselor %>
                  <td class="text-center"><div id="task<%=task.id -%>" class="text-center">
                    <%= button_to "Pending", approve_student_college_app_task_path(student_id: @student.id, college_app_id: @college_app.id, id: task.id), class:"btn btn-rec-yellow-sm", remote: true%>
                    </div></td>

                  <% elsif task.status == "pending" && !current_user.is_counselor %>
                  <td class="text-center"><div id="task<%=task.id -%>" class="text-center"><span class="btn btn-rec-yellow-sm">Pending</span></div></td>

                  <% elsif task.status =="not done" && current_user.is_counselor %>
                  <td class="text-center"><div id="task<%=task.id -%>" class="text-center">
                    <%= button_to "Not Done", approve_student_college_app_task_path(student_id: @student.id, college_app_id: @college_app.id, id: task.id), class:"btn btn-rec-danger-sm", remote: true%>
                  </div></td>

                  <% elsif task.status =="not done" && !current_user.is_counselor %>
                  <td class="text-center"><div id="task<%=task.id -%>" class="text-center">
                    <%= button_to "Not Done", pending_college_app_task_path(student_id: @student.id, college_app_id: @college_app.id, id: task.id), class:"btn btn-rec-danger-sm", remote: true%>
                  </div></td>
                  <% end %>
                <!-- Upload an attachment to an existing task -->
                <% if task.no_document && current_user.is_counselor %>
                  <td class="text-center">
                    <% task_path = "/students/#{@student.id}/college_apps/#{@college_app.id}/tasks/#{task.id}}" %>
                    <label class="btn btn-transparent">
                    <i class="fa fa-paperclip icon"></i>
                      <span style="display:none;" >
                    <%= form_for([@college_app, task], url: "#{task_path}", method: :put, remote: true, :multipart => true, html: {'data-type'=>'script'}) do |f| %>
                      remote: true, :multipart => true, html: {'data-type'=>'script'}) do |f| %>
                        <%= token_tag %>
                        <%= f.file_field :document, class: 'auto_uploading' %>
                        <%= f.hidden_field :document_cache %>
                        <%= f.submit %>
                      </span>
                    </label>


                    <% end %>
                 </td>
                 <% elsif task.no_document && !current_user.is_counselor%>
                 <!-- student task upload a doc -->
                 <td class="text-center">
                    <label class="btn btn-transparent">
                    <i class="fa fa-paperclip icon"></i>
                      <span style="display:none;" >
                  <%= form_for([@college_app, task], method: :put, remote: true, :multipart => true, html: {'data-type'=>'script'}) do |f| %>
                        <%= token_tag %>
                        <%= f.file_field :document, class: 'auto_uploading' %>
                        <%= f.hidden_field :document_cache %>
                        <%= f.submit %>
                      </span>
                    </label>
                  <% end %>
                </td>
                   <% else %>
                 <td class="text-center">
                  <%= link_to '<i class="fa fa-cloud-download icon"></i>'.html_safe, task.document.url %>
                 </td>
                </tr>
                <% end %>
              <% end %>
              </tbody>
            </table>
          </div>
          </div>
        </div>
      </div><!-- end col -->

    </div>
    <!-- end row -->



  </div>
  <!-- end container -->



  <!-- Right Sidebar -->
  <!-- /Right-bar -->

</div>


<script type="text/javascript">

  !function($) {
    "use strict";

    var Dashboard1 = function() {
      this.$realData = []
    };

    //creates Bar chart
    Dashboard1.prototype.createBarChart  = function(element, data, xkey, ykeys, labels, lineColors) {
      Morris.Bar({
        element: element,
        data: data,
        xkey: xkey,
        ykeys: ykeys,
        labels: labels,
        hideHover: 'auto',
        resize: true, //defaulted to true
        gridLineColor: '#eeeeee',
        barSizeRatio: 0.2,
        barColors: lineColors
      });
    },

      //creates line chart
        Dashboard1.prototype.createLineChart = function(element, data, xkey, ykeys, labels, opacity, Pfillcolor, Pstockcolor, lineColors) {
          Morris.Line({
            element: element,
            data: data,
            xkey: xkey,
            ykeys: ykeys,
            labels: labels,
            fillOpacity: opacity,
            pointFillColors: Pfillcolor,
            pointStrokeColors: Pstockcolor,
            behaveLikeLine: true,
            gridLineColor: '#eef0f2',
            hideHover: 'auto',
            resize: true, //defaulted to true
            pointSize: 0,
            lineColors: lineColors
          });
        },

      //creates Donut chart
        Dashboard1.prototype.createDonutChart = function(element, data, colors) {
          Morris.Donut({
            element: element,
            data: data,
            resize: true, //defaulted to true
            colors: colors,
            backgroundColor: '#fff'
          });
        },


        Dashboard1.prototype.init = function() {

          // creating bar chart
          // var $barData  = [
          // <% @college_app.categories.each do |type| %>
          // {y: '<%= type[:label] %>', a: '<%= type[:value] %>'},
          // <% end %>
          // ];
          // this.createBarChart('morris-bar-stacked', $barData, 'y', ['a'], ['#fe6271']);

          //creating donut chart
          var $donutData = [
            <% @college_app.tasks_by_status_count.each do |type| %>
              {label: '<%=type[:label]%>', value: <%=type[:value]%>},
            <% end %>
          ];
          this.createDonutChart('morris-donut-example', $donutData, ["#fe6271", "#FC6F7D", "#FB8792"]);
        },
      //init
        $.Dashboard1 = new Dashboard1, $.Dashboard1.Constructor = Dashboard1
  }(window.jQuery),

//initializing
      function($) {
        "use strict";
        $.Dashboard1.init();
        $("input:file.auto_uploading").change(function (eventData){
          debugger;
          $(this).parent().submit();
         });
      }(window.jQuery);
</script>



