<div class="wrapper">
  <div class="container">

    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
      </div>
    </div>


    <div class="row">
      <div class="col-lg-8">
        <div class="card-box">
          <div>
          <ul class="list-inline">
            <li><h1><strong><%= @college_app.college.name %></strong></h1></li>
            <li><p><%= @college_app.college.address %></p></li>
            <li><p><%= @college_app.college.website %></p></li>
          </ul>
          <ul class="list-inline app-header">
            <li><h4><strong>Application Deadline:</strong></h4></li>
            <li><h4><%= @college_app.deadline.strftime("%A, %B %m, %Y") %></h4></li>
            <li><p><%= distance_of_time_in_words(Time.now, @college_app.deadline) %> remaining</p></li>
          </ul>
          </div>
          <div>
            <p class="font-600 m-b-5"> <span class="text-custom pull-right">15%</span></p>
            <div class="progress progress-bar-custom-alt progress-sm m-b-20">
              <div class="progress-bar progress-bar-custom progress-animated wow animated animated" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%; visibility: visible; animation-name: animationProgress;">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card-box">
          <h4 class="header-title m-t-0">Tasks Overview</h4>
          <div class="row text-center m-t-30">
            <div class="col-xs-6">
              <h3 data-plugin="counterup"><%= @college_app.tasks.count %></h3>
              <p class="text-muted">Total Tasks</p>
            </div>
            <div class="col-xs-6">
              <h3 data-plugin="counterup"><%= @college_app.incomplete_tasks %></h3>
              <p class="text-muted">Open Tasks</p>
            </div>
          </div>

          <div class="text-center m-t-10">
            <div id="morris-donut-example" style="height: 245px;"></div>
            <ul class="list-inline chart-detail-list m-b-0">
              <li>
                <h5><i class="fa fa-circle m-r-5" style="color: #da5461;"></i>Not Started</h5>
              </li>
              <li>
                <h5><i class="fa fa-circle m-r-5" style="color: #fe8995;"></i>Pending</h5>
              </li>
            </ul>
          </div>

        </div>
      </div><!-- end col -->


    </div>
    <!-- end row -->


    <div class="row">
      <div class="col-lg-4">
        <div class="card-box">
          <h4 class="header-title m-t-0 m-b-30">Add a task</h4>

          <div class="inbox-widget nicescroll" style="height: 315px;">
              <% apps_path = current_user.is_counselor ? student_college_app_tasks_path(college_app_id: @college_app.id) : college_app_tasks_path(college_app_id: @college_app.id) %>
              <%= form_for([@college_app, @new_task], url:"#{apps_path}", method: :post) do |f| %>
              <div class="inbox-item">
              <%= f.text_area :name, placeholder: "describe a task" %>
              </div>
              <div class="inbox-item">
              <p>Due date:</p> <%= f.date_field :due_date, as: :date_time_picker%>
              </div>
              <div class="inbox-item">
              Attachment: <%= f.file_field :document %>
              <%= f.hidden_field :document_cache %>
              </div>
              <div class="inbox-item">
              <%= f.submit %>
              </div>
            <% end %>
          </div>
        </div>
      </div><!-- end col -->

      <div class="col-lg-8">
        <div class="card-box">
          <h4 class="header-title m-t-0 m-b-30">Application Tasks</h4>
      <!-- tasks table -->
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>Task Name</th>
                <th>Due Date</th>
                <th>Status</th>
                <th>Attachments</th>
              </tr>
              </thead>
              <tbody>
              <% tasks_chronological = @college_app.tasks.order(:due_date) %>
              <% tasks_chronological.each do |task| %>
                <tr>
                  <td><%= task.name %></td>
                  <td><%= task.due_date.strftime("%d / %m / %Y") %></td>
                  <!-- task status buttons -->

                  <% if task.status =="approved" %>
                  <td><div id="task<%=task.id -%>"><span class="btn btn-rec-green-sm">Approved</span></div></td>

                  <% elsif task.status == "pending" && current_user.is_counselor %>
                  <td><div id="task<%=task.id -%>">
                    <%= button_to "Pending", approve_student_college_app_task_path(student_id: @student.id, college_app_id: @college_app.id, id: task.id), class:"btn btn-rec-yellow-sm", remote: true%>
                    </div></td>

                  <% elsif task.status == "pending" && !current_user.is_counselor %>
                  <td><div id="task<%=task.id -%>"><span class="btn btn-rec-yellow-sm">Pending</span></div></td>

                  <% elsif task.status =="not done" && current_user.is_counselor %>
                  <td><div id="task<%=task.id -%>">
                    <%= button_to "Not started", approve_student_college_app_task_path(student_id: @student.id, college_app_id: @college_app.id, id: task.id), class:"btn btn-rec-danger-sm", remote: true%>
                  </div></td>

                  <% elsif task.status =="not done" && !current_user.is_counselor %>
                  <td><div id="task<%=task.id -%>">
                    <%= button_to "Not started", pending_college_app_task_path(student_id: @student.id, college_app_id: @college_app.id, id: task.id), class:"btn btn-rec-danger-sm", remote: true%>
                  </div></td>
                  <% end %>

                <% if task.no_document && current_user.is_counselor %>
                  <td>
                    <% task_path = "/students/#{@student.id}/college_apps/#{@college_app.id}/tasks/#{task.id}}" %>

                    <%= form_for([@college_app, task], url: "#{task_path}", method: :put) do |f| %>
                    <%= task_path %>
                    <%= f.file_field :document %>
                    <%= f.hidden_field :document_cache %>
                    <%= f.submit %>
                    <% end %>
                 </td>
                 <% elsif task.no_document && !current_user.is_counselor%>
                 <td>
                  <%= form_for([@college_app, task], method: :put) do |f| %>
                  <%= f.file_field :document %>
                  <%= f.hidden_field :document_cache %>
                  <%= f.submit %>
                  <% end %>
                </td>
                   <% else %>
                 <td>
                  <%= link_to '<i class="fa fa-download icon"></i>'.html_safe, task.document.url %>
                 </td>
                </tr>
                <% end %>
              <% end %>
              </tbody>
            </table>
          </div>
          </div>
        </div>
      </div><!-- end col -->

    </div>
    <!-- end row -->



  </div>
  <!-- end container -->



  <!-- Right Sidebar -->
  <div class="side-bar right-bar">
    <a href="javascript:void(0);" class="right-bar-toggle">
      <i class="zmdi zmdi-close-circle-o"></i>
    </a>
    <h4 class="">Notifications</h4>
    <div class="notification-list nicescroll">
      <ul class="list-group list-no-border user-list">
        <li class="list-group-item">
          <a href="#" class="user-list-item">
            <div class="avatar">
              <img src="assets/images/users/avatar-2.jpg" alt="">
            </div>
            <div class="user-desc">
              <span class="name">Michael Zenaty</span>
              <span class="desc">There are new settings available</span>
              <span class="time">2 hours ago</span>
            </div>
          </a>
        </li>
        <li class="list-group-item">
          <a href="#" class="user-list-item">
            <div class="icon">
              <i class="zmdi zmdi-account"></i>
            </div>
            <div class="user-desc">
              <span class="name">New Signup</span>
              <span class="desc">There are new settings available</span>
              <span class="time">5 hours ago</span>
            </div>
          </a>
        </li>
        <li class="list-group-item">
          <a href="#" class="user-list-item">
            <div class="icon">
              <i class="zmdi zmdi-comment"></i>
            </div>
            <div class="user-desc">
              <span class="name">New Message received</span>
              <span class="desc">There are new settings available</span>
              <span class="time">1 day ago</span>
            </div>
          </a>
        </li>
        <li class="list-group-item">
          <a href="#" class="user-list-item">
            <div class="avatar">
              <img src="assets/images/users/avatar-3.jpg" alt="">
            </div>
            <div class="user-desc">
              <span class="name">James Anderson</span>
              <span class="desc">There are new settings available</span>
              <span class="time">2 days ago</span>
            </div>
          </a>
        </li>
        <li class="list-group-item active">
          <a href="#" class="user-list-item">
            <div class="icon">
              <i class="zmdi zmdi-settings"></i>
            </div>
            <div class="user-desc">
              <span class="name">Settings</span>
              <span class="desc">There are new settings available</span>
              <span class="time">1 day ago</span>
            </div>
          </a>
        </li>

      </ul>
    </div>
  </div>
  <!-- /Right-bar -->

</div>


<script type="text/javascript">
  !function($) {
    "use strict";

    var Dashboard1 = function() {
      this.$realData = []
    };

    //creates Bar chart
    Dashboard1.prototype.createBarChart  = function(element, data, xkey, ykeys, labels, lineColors) {
      Morris.Bar({
        element: element,
        data: data,
        xkey: xkey,
        ykeys: ykeys,
        labels: labels,
        hideHover: 'auto',
        resize: true, //defaulted to true
        gridLineColor: '#eeeeee',
        barSizeRatio: 0.2,
        barColors: lineColors
      });
    },

      //creates line chart
        Dashboard1.prototype.createLineChart = function(element, data, xkey, ykeys, labels, opacity, Pfillcolor, Pstockcolor, lineColors) {
          Morris.Line({
            element: element,
            data: data,
            xkey: xkey,
            ykeys: ykeys,
            labels: labels,
            fillOpacity: opacity,
            pointFillColors: Pfillcolor,
            pointStrokeColors: Pstockcolor,
            behaveLikeLine: true,
            gridLineColor: '#eef0f2',
            hideHover: 'auto',
            resize: true, //defaulted to true
            pointSize: 0,
            lineColors: lineColors
          });
        },

      //creates Donut chart
        Dashboard1.prototype.createDonutChart = function(element, data, colors) {
          Morris.Donut({
            element: element,
            data: data,
            resize: true, //defaulted to true
            colors: colors,
            backgroundColor: '#fff'
          });
        },


        Dashboard1.prototype.init = function() {

          //creating bar chart
          // var $barData  = [
          //   { y: '2010', a: 75 },
          //   { y: '2011', a: 42 },
          //   { y: '2012', a: 75 },
          //   { y: '2013', a: 38 },
          //   { y: '2014', a: 19 },
          //   { y: '2015', a: 93 },
          //   { y: '2016', a: 50 }
          // ];
          // this.createBarChart('morris-bar-example', $barData, 'y', ['a'], ['Statistics'], ['#fe6271']);

          //create line chart
          // var $data  = [
          //   { y: '2008', a: 50, b: 0 },
          //   { y: '2009', a: 75, b: 50 },
          //   { y: '2010', a: 30, b: 80 },
          //   { y: '2011', a: 50, b: 50 },
          //   { y: '2012', a: 75, b: 10 },
          //   { y: '2013', a: 50, b: 40 },
          //   { y: '2014', a: 75, b: 50 },
          //   { y: '2015', a: 100, b: 70 }
          // ];
          //creating donut chart
          var $donutData = [
            <% @college_app.tasks_by_status_count.each do |type| %>
              {label: '<%=type[:label]%>', value: <%=type[:value]%>},
            <% end %>
          ];
          this.createDonutChart('morris-donut-example', $donutData, ['#fe8995', "#fe6271","#ddd"]);
        },
      //init
        $.Dashboard1 = new Dashboard1, $.Dashboard1.Constructor = Dashboard1
  }(window.jQuery),

//initializing
      function($) {
        "use strict";
        $.Dashboard1.init();
      }(window.jQuery);
</script>
