
<div class="wrapper-form-add-student">
  <div class="container-form">
  <% if !resource.is_counselor && resource.sign_in_count== 1 %>
  <% flash[:notice] = "Welcome to Turtlecamp!" %>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

      <div class="form-inputs">
      <h2>Edit your information:</h2>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <h4>Update Password</h4>
        <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, label: "New password" %>
        <%= f.input :password_confirmation, required: false, label: "Confirm new password" %>
        <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true, label: "Old password" %>
        <hr>
        <h4>Enter Academic Information</h4>
        <%= f.input :app_year, :label => "Application Year", :collection => ["2016-2017", "2017-2018", "2018-2019"], required: false %>
        <%= f.input :current_school, :label => "Current High School", required: false %>
        <%= f.input :satm, :label => "SAT", required: false %>
        <%= f.input :act, :label => "ACT", required: false %>
        <%= f.input :toeflr, :label => "TOEFL", required: false %>
        <hr>
        <h4>Enter Contact information</h4>
        <%= f.input :wechat_id, :label =>"WeChat ID", required: true %>
      </div>

      <div class="form-actions">
          <%= f.button :submit, "Update", class: "btn btn-rec-signup"%>
      <% end %>
      </div>

  <% else %>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
        <%= f.input :password_confirmation, required: false %>
        <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", class: "btn btn-rec-signup" %>
        <% end %>
      </div>
 <% end %>


    <p class="text-center"><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>
</div>
