
<div class="wrapper-form">
  <div class="container-form">
    <%= form_for([@college_app, @task]) do |f| %>
      Name: <%= f.text_field :name %>
      Due date: <%= f.date_field :due_date, as: :date_time_picker%>
      Status: <%= f.text_field :status %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
