
<div class="wrapper-form">
  <div class="container-form">
   <div class="form-inputs">
    <% apps_path = current_user.is_counselor ? student_college_app_tasks_path: college_app_tasks_path %>
    <%= form_for([@college_app, @task], url:"#{apps_path}" ) do |f| %>
      Name: <%= f.text_field :name %>
      Due date: <%= f.date_field :due_date, as: :date_time_picker%>
      Attachment: <%= f.file_field :document %>
      <%= f.hidden_field :document_cache %>
      <%= f.submit %>
      <%#= #this submit is not redireccting properly %>
    <% end %>
    </div>
  </div>
</div>
