<small>Students-Dashboard find me at students/index.html.erb</small>

<div class="container-fluid card-counselor">
  <div>
    <h1>Hello <%= current_user.name %></h1>
    <h4>here are your students</h4>
  </div>
  <div class="actions">
    <%= link_to "add a student", new_student_path, class:"btn-rd-out-black" %>
  </div>
</div>

<div class="container">
  <% if @students == nil %>
   <p>nothing</p>
  <% else %>
    <% @students.find_in_batches(batch_size: 4) do |students| %>
  <div class="row">
     <% students.each do |student| %>
     <!-- find a way to put margins around the card -->
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="card-student">
      <%= link_to "", student_path(student), class: "card-link"%>
        <div class="card-name">
          <h3><%= "#{student.name}" %></h3>
        </div>
        <div class="card-schools">
        <% student.college_emblems.each do |emblem| %>
          <%= image_tag emblem, class: "card-logo" %>
        <% end %>
        </div>
        <div class="card-total">
          Total 2 Schools
        </div>
      </div>
    </div>
      <% end %>
    <% end %>
  <% end %>
  </div>
</div>


