<div class="container-fluid card-counselor">
    <ul class="list-inline">
      <li><strong><h3><%= current_user.name %></h3></strong></li>
      <li><h4>Here is a list of your students</h4></li>
      <li><%= link_to "Add a student", new_student_path, class:"btn-rec-out-black" %></li>
    </ul>
</div>

<div class="container">
  <% if @students == nil %>
   <p>nothing</p>
  <% else %>
    <% @students.find_in_batches(batch_size: 4) do |students| %>
      <div class="row">
        <% students.each do |student| %>

          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="card-student">
              <%= link_to "", student_path(student), class: "card-link"%>
              <div class="card-name">
                <h3><%= "#{student.name}" %></h3>
              </div>
              <div class="card-schools">
                <% student.college_emblems.each do |emblem| %>
                  <%= image_tag emblem, class: "card-logo" %>
                <% end %>
              </div>
              <div class="card-total">
                <ul class="list-inline">
                  <li><p><%= student.college_apps.count %> Application</p></li>
                  <li><p>Pending Tasks <%= student.pending_tasks %></p></li>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
  <% end %>
</div>
