<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="container card-counselor text-center">
        <h4><%= current_user.name %> Here is a list of your students</h4>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <% if @students == nil %>
   <p>nothing</p>
  <% else %>
    <% @students.find_in_batches(batch_size: 4) do |students| %>
      <div class="row">
        <% students.each do |student| %>

          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="card-student">
              <%= link_to "", student_path(student), class: "card-link"%>
              <div class="card-name">
                <h3><%= "#{student.name}" %></h3>
              </div>
              <div class="card-schools">
                <% student.college_emblems.each do |emblem| %>
                  <%= image_tag emblem, class: "card-logo" %>
                <% end %>
              </div>
              <div class="card-total">
                <p>Pending Tasks <%= student.pending_tasks %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
  <% end %>
</div>
