<div class="wrapper-form">
  <div class="container-form">
    <%= form_for :user, url: create_student_path do |f| %>
    <div class="text-center">
    <h1>Add a student</h1>
      <p>Keep this username and password for your student</p>
      <p>Student will be prompted to enter a new password when they login for the first time</p>
    </div>
      <%#= f.error_notification %>
      <div class="container-new-student-form">
        <div class="form-inputs">
          <div class="form-groups">
            Name <%= f.text_field :name, class:"form-input-box", require: true, autofocus: true%>
          </div>
          <div class="form-groups">
            Email <%= f.text_field :email, class:"form-input-box", type: 'email', required: true %>
          </div>
          <div class="container text-center">
            <div class="btn btn-rec-green" id="pass_gen">Generate password</div>

          </h1></div>
          <%= f.hidden_field :password, as: :hidden, value: @password %>
          <%= f.hidden_field :password_confirmation, as: :hidden, value: @password %>
        </div>
      </div>
          <div class="form-actions hidden" id ="submit_button">
            <%= f.submit class:"btn btn-rec-green"%>
            <% end %>
          </div>
      </div>
  </div>
</div>
<script>
  $("#pass_gen").click(function(){
    $( this ).replaceWith("<div class='text-center'><p>Password:</p><h1><%= @password %></h1></div>");
    $( "#submit_button" ).fadeIn("slow", function(){
      $( this ).removeClass("hidden");
    });
});
</script>
