
  <div class="container-form">
    <%= form_for :user, url: create_student_path do |f| %>
    <div class="text-center">
    <h1>Add a student</h1>
      <p>Keep this username and password for your student</p>
      <p>Student will be prompted to enter a new password when they login for the first time</p>
    </div>
      <%#= f.error_notification %>
      <div class="form-inputs">
        Name: <%= f.text_field :name, require: true, autofocus:true %>
        Email: <%= f.text_field :email, type: 'email', required: true %>
        Pswd: <%= f.text_field :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        Pswd: <%= f.text_field :password_confirmation, required: true %>
      </div>

      <div class="form-actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
