              <% apps_path = current_user.is_counselor ? student_college_app_tasks_path(college_app_id: @college_app.id) : college_app_tasks_path(college_app_id: @college_app.id) %>
              <%= form_for([@college_app, @new_task], url:"#{apps_path}", method: :post) do |f| %>
              <div class="inbox-item">
              <%= f.text_area :name, placeholder: "Describe a task", class:"form-control" %>
              </div>
              <div class="inbox-item">
              <p>Set a duedate for the task</p> <%= f.date_field :due_date, class: "form-control", id: "datepicker-inline", required: true %>
              </div>
              <div class="inbox-item">
              </div>
              <div class="inbox-item">
                <label class="btn btn-transparent">
                  <i class="fa fa-paperclip icon"></i>
                  <span style="display:none;">
                  <%= f.file_field :document %>
                  </span>
                </label>
                    <%= f.hidden_field :document_cache %>
              </div>
              <div class="inbox-item">
              <%= f.submit class: "btn btn-rec-green-sm" %>
              </div>
            <% end %>
