<div class="wrapper">
  <div class="container">
  <% if @student.colleges.count.zero? %>
  <div class="container-fluid card-counselor">
  <h4><%= @student.name %> has not started any college applications yet</h4>
      <% if current_user.is_counselor %>
        <%= link_to "Start an application", new_student_college_app_path(@student), class: "btn btn-rec-green" %>
      <% else %>
        <%= link_to "Start an application", new_college_app_path, class: "btn btn-rec-green" %>
      <% end %>
</div>
  <% else %>

    <div class="row">

      <div class="col-md-8 col-sm-12">
        <div class="card-box" id="main-college-progress">
          <div class="header-box">
            <h4 class="header-title m-t-0 m-b-30">Progress by College</h4>
            <div class="add_button">
              <% if current_user.is_counselor %>
              <%= link_to "Add a school", new_student_college_app_path(@student), class: "btn btn-rec-green-sm" %>
              <% else %>
                <%= link_to "Add a school", new_college_app_path, class: "btn btn-rec-green-sm" %>
              <% end %>
            </div>
          </div>

            <% @student.task_percentage_by_college.each do |app| %>
            <div class="outside">
            <% if current_user.is_counselor %>
              <% app_link = student_college_app_path(@student, app[:college_app_id])%>
            <% else %>
              <%app_link = college_app_path(app[:college_app_id]) %>
            <% end %>
              <%= link_to app_link do %>
                <% if current_user.is_counselor %>
                  <ul class="list-group m-b-0 user-list">
                    <li class="list-group-item">

                    <div class="college-header-bar-outside">
                      <div class="college-header-bar">
                        <p class="font-700 college-header-bar-item college-name-dashboard"> <%= app[:name] %></p>
                        <div class="college-header-bar-item"><p>|</p></div>
                        <p><span class="tasks-pending college-header-bar-item"><%= CollegeApp.where(id: (app[:college_app_id])).first.pending_tasks %> pending tasks</span></p>
                        <div class="college-header-bar-item"><p>|</p></div>
                        <div class="college-header-bar-item"><p><%= CollegeApp.where(id: (app[:college_app_id])).first.category %></p></div>
                      </div>
                      <p><span class="text-custom pull-right college-header-bar-item font-600"><%= app[:percentage] %>%</span></p>
                    </div>
                    <div class="progress progress-bar-custom-alt progress-sm m-b-20">
                      <div class="progress-bar progress-bar-custom progress-animated wow animated animated" role="progressbar" aria-valuenow="<%= app[:percentage] %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= app[:percentage] %>%; visibility: visible; animation-name: animationProgress;">
                      </div>
                    </div>
                  </li>
                </ul>
              <% else %>
                <ul class="list-group m-b-0 user-list">
                    <li class="list-group-item">

                    <div class="college-header-bar-outside">
                      <div class="college-header-bar">
                        <p class="font-600 college-header-bar-item college-name-dashboard"> <%= app[:name] %></p>
                        <div class="college-header-bar-item"><p>|</p></div>
                        <p><span class="tasks-pending college-header-bar-item"><%= CollegeApp.where(id: (app[:college_app_id])).first.incomplete_tasks %> open tasks</span></p>
                        <div class="college-header-bar-item"><p>|</p></div>
                        <div class="college-header-bar-item"><p><%= CollegeApp.where(id: (app[:college_app_id])).first.category %></p></div>
                      </div>
                      <p><span class="text-custom pull-right college-header-bar-item font-600"><%= app[:percentage] %>%</span></p>
                    </div>
                    <div class="progress progress-bar-custom-alt progress-sm m-b-20">
                      <div class="progress-bar progress-bar-custom progress-animated wow animated animated" role="progressbar" aria-valuenow="<%= app[:percentage] %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= app[:percentage] %>%; visibility: visible; animation-name: animationProgress;">
                      </div>
                    </div>
                  </li>
                </ul>
              <% end %>
            <% end %>
            </div>
          <% end %>



        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="card-box widget-user">

              <!-- Avater -->
              <div class="avatar-container">
                <% if user_signed_in? && current_user.is_counselor  %>
                <%= cl_image_tag @student.photo, :gravity=>"face", :width=>50, :height=>50, :crop=>"fill", :radius=>"max" %>
                <% else %>
                <%= cl_image_tag current_user.counselor.photo, :gravity=>"face", :width=>50, :height=>50, :crop=>"thumb", :radius=>"max" %>
                <% end %>
                </div>
              <!-- Counsler or Student information -->
                <div class="wid-u-info">
                <% if user_signed_in? && current_user.is_counselor  %>

                    <h3 class="m-t-0 m-b-5"> <strong><%= @student.name %></strong></h3>
                    <p class="text-muted m-b-5 font-13">Email: <%= @student.email %></p>
                    <p class="text-muted m-b-5 font-13">WeChat: <%= @student.wechat_id %></p>
                    <hr>
                    <small class="text-custom"><strong>Enrollment Year:</strong> <%= @student.app_year %></small><br>
                    <small class="text-custom"><strong>High School:</strong> <%= @student.current_school %></small><br>
                    <small class="text-custom"><strong>SAT Score:</strong> <%= @student.satm %></small><br>
                    <small class="text-custom"><strong>TOEFL Score:</strong> <%= @student.toeflr %></small><br>
                <% else %>
                    <h3 class="header-title m-t-0">Your Counselor:</h3>
                     <h4 class="m-t-0 m-b-5"><%= @student.counselor.name %></h4>
                    <p class="text-muted m-b-5 font-13">Email: <%= @student.counselor.email %></p>
                    <p class="text-muted m-b-5 font-13">WeChat: <%= @student.counselor.wechat_id %></p>
                    <h3 class="header-title m-t-0">Your Information:</h3>
                    <small class="text-custom"><strong>Enrollment Year:</strong> <%= @student.app_year %></small><br>
                    <small class="text-custom"><strong>High School:</strong> <%= @student.current_school %></small><br>
                    <small class="text-custom"><strong>SAT Score:</strong> <%= @student.satm %></small><br>
                    <small class="text-custom"><strong>TOEFL Score:</strong> <%= @student.toeflr %></small><br>

              <!-- Need to seed data -->
                <% end %>
                </div>

          </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="card-box widget-user text-center">
            <div>
              <h4 class="header-title m-t-0">Next task</h4>

              <% if current_user.is_counselor %>
              <ul class="list-group m-b-0 user-list">
              <li class="list-group-item">
              <%= link_to student_college_app_path(@student, @student.tasks.first&.college_app_id) do %>
                  <div class="user-list-item">
                  <%= @student.tasks.first&.name %>
                  <p><small>Due on <%= @student.tasks.first&.due_date.strftime("%Y-%m-%d") %></small></p>
                  <% end %>
                </div>
                </li>
              </ul>
              <% else %>
              <ul class="list-group m-b-0 user-list">
              <li class="list-group-item">
              <%= link_to college_app_path(@student.tasks.first&.college_app_id) do %>
                  <div class="user-list-item">
                  <%= @student.tasks.first&.name %>
                  <p><small>Due on <%= @student.tasks.first&.due_date.strftime("%Y-%m-%d") %></small></p>
                  <% end %>
                </div>
                </li>
              </ul>
              <% end %>
            </div>
          </div>
      </div>


      <div class="col-md-8 col-sm-12">
        <div class="card-box">
          <h4 class="header-title m-t-0 m-b-30">Application Timelines</h4>
          <div>
            <%= line_chart @student.college_apps.map{ |app| {name: app.college.name, data: app.tasks.group_by_day(:due_date).count}}, colors:[ "#fe6271", "#FC6F7D", "#FB8792"] %>
            <%#= timeline @student.college_timings, adapter: "google", label:"Time remaining" %>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card-box">
           <h4 class="header-title m-t-0">Tasks</h4>

            <div class="row text-center m-t-30">
              <div class="col-xs-6">
                <h3 data-plugin="counterup"><%= @student.tasks.count %></h3>
                <p class="text-muted">Total Tasks</p>
              </div>
              <div class="col-xs-6">
                <h3 data-plugin="counterup"><%= @student.incomplete_tasks %></h3>
                <p class="text-muted">Open Tasks</p>
              </div>
            </div>

            <div class="text-center m-t-10">
              <div id="total-tasks-donut" style="height: 245px;"></div>
            </div>
          </div>
        </div>
      </div> <!-- end col -->
  <% end %>
    </div>

  </div>


<script type="text/javascript">

  var data = [
      <% @student.tasks_by_status_count.each do |type| %>
        {label: '<%=type[:label]%>', value: <%=type[:value]%>},
      <% end %>
  ];

  var colors = ["#fe6271", "#FC6F7D", "#FB8792"];

  Morris.Donut({
    element: 'total-tasks-donut',
      data: data,
      resize: true, //defaulted to true
      colors: colors,
      backgroundColor: '#fff'
  });



</script>
