<div class="wrapper">
  <div class="container">

    <div class="row">

      <div class="col-lg-3 col-md-6">
        <div class="card-box">
          <h4 class="header-title m-t-0 m-b-30">Progress by College</h4>
          <% @student.task_percentage_by_colleges_count.keys.each do |college| %>
            <% percentage = @student.task_percentage_by_colleges_count[college] %>
            <p class="font-600 m-b-5"> <%= college %> <span class="text-custom pull-right"><%= percentage  %>%</span></p>
            <div class="progress progress-bar-custom-alt progress-sm m-b-20">
              <div class="progress-bar progress-bar-custom progress-animated wow animated animated" role="progressbar" aria-valuenow="<%= percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= percentage %>%; visibility: visible; animation-name: animationProgress;">
              </div><!-- /.progress-bar .progress-bar-danger -->
            </div><!-- /.progress .no-rounded -->
          <% end %>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card-box">
          <h4 class="header-title m-t-0 m-b-30">Progress by Category</h4>

          <% @student.tasks_percentage_by_category_count.keys.each do |college| %>
            <% percentage = @student.tasks_percentage_by_category_count[college] %>
            <p class="font-600 m-b-5"> <%= college %> <span class="text-custom pull-right"><%= percentage %>%</span></p>
            <div class="progress progress-bar-custom-alt progress-sm m-b-20">
              <div class="progress-bar progress-bar-custom progress-animated wow animated animated" role="progressbar" aria-valuenow="<%= percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= percentage %>%; visibility: visible; animation-name: animationProgress;">
              </div>
            </div>

          <% end %>

        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card-box">
          <h4 class="header-title m-t-0 m-b-30">Application Deadlines</h4>

          <ul class="list-group m-b-0 user-list">
            <li class="list-group-item">
              <a href="#" class="user-list-item">
                <div class="avatar text-center">
                  <i class="zmdi zmdi-circle text-primary"></i>
                </div>
                <div class="user-desc">
                  <span class="name">Meet Manager</span>
                  <span class="desc">February 29, 2016 - 10:30am to 12:45pm</span>
                </div>
              </a>
            </li>

            <li class="list-group-item">
              <a href="#" class="user-list-item">
                <div class="avatar text-center">
                  <i class="zmdi zmdi-circle text-success"></i>
                </div>
                <div class="user-desc">
                  <span class="name">Project Discussion</span>
                  <span class="desc">February 29, 2016 - 10:30am to 12:45pm</span>
                </div>
              </a>
            </li>

            <li class="list-group-item">
              <a href="#" class="user-list-item">
                <div class="avatar text-center">
                  <i class="zmdi zmdi-circle text-pink"></i>
                </div>
                <div class="user-desc">
                  <span class="name">Meet Manager</span>
                  <span class="desc">February 29, 2016 - 10:30am to 12:45pm</span>
                </div>
              </a>
            </li>

            <li class="list-group-item">
              <a href="#" class="user-list-item">
                <div class="avatar text-center">
                  <i class="zmdi zmdi-circle text-muted"></i>
                </div>
                <div class="user-desc">
                  <span class="name">Project Discussion</span>
                  <span class="desc">February 29, 2016 - 10:30am to 12:45pm</span>
                </div>
              </a>
            </li>

            <li class="list-group-item">
              <a href="#" class="user-list-item">
                <div class="avatar text-center">
                  <i class="zmdi zmdi-circle text-danger"></i>
                </div>
                <div class="user-desc">
                  <span class="name">Meet Manager</span>
                  <span class="desc">February 29, 2016 - 10:30am to 12:45pm</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card-box">
          <div class="dropdown pull-right">
            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown"
               aria-expanded="false">
              <i class="zmdi zmdi-more-vert"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>

          <h4 class="header-title m-t-0">Tasks</h4>


          <div class="row text-center m-t-30">
            <div class="col-xs-6">
              <h3 data-plugin="counterup">8,459</h3>
              <p class="text-muted">Total Tasks</p>
            </div>
            <div class="col-xs-6">
              <h3 data-plugin="counterup">584</h3>
              <p class="text-muted">Open Tasks</p>
            </div>
          </div>

          <div class="text-center m-t-10">
            <div id="total-tasks-donut" style="height: 245px;"></div>
            <ul class="list-inline chart-detail-list m-b-0">
              <li>
                <h5><i class="fa fa-circle m-r-5" style="color: #da5461;"></i>Not Started</h5>
              </li>
              <li>
                <h5><i class="fa fa-circle m-r-5" style="color: #fe8995;"></i>Pending</h5>
              </li>
            </ul>
          </div>

        </div>
      </div><!-- end col -->
    </div>
  </div>
</div>

<script type="text/javascript">

  Morris.Donut({
    element: 'total-tasks-donut',
      data: [
        {label: "Open Tasks", value: 12},
        {label: "Pending Tasks", value: 30},
        {label: "Approved Tasks", value: 20}
      ]
    });
</script>
