<div class="wrapper">
  <div class="container">

    <div class="row">

      <div class="col-md-8 col-sm-12">
        <div class="card-box">
          <h4 class="header-title m-t-0 m-b-30">Progress by College</h4>

          <% @student.task_percentage_by_colleges_count.keys.each do |college| %>
            <% percentage = @student.task_percentage_by_colleges_count[college] %>
            <div>
              <p class="font-600 m-b-5"> <%= college %> <span class="text-custom pull-right"><%= percentage  %>%</span></p>
              <div class="progress progress-bar-custom-alt progress-sm m-b-20">
                <div class="progress-bar progress-bar-custom progress-animated wow animated animated" role="progressbar" aria-valuenow="<%= percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= percentage %>%; visibility: visible; animation-name: animationProgress;">

                  <div>
                  <% if current_user.is_counselor %>
                    <%= link_to "", student_college_app_path(@student, (CollegeApp.where(:college == college)).where(user_id: @student.id).first.id)%>

                  <% else %>
                    <%=link_to "", college_app_path(CollegeApp.where(:college == college).where(user_id: @student.id).first.id) %>
                  <% end %>
                  </div>
                </div><!-- /.progress-bar .progress-bar-danger -->
              </div><!-- /.progress .no-rounded -->
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
          <div class="card-box widget-user">
              <div>
                  <img src="assets/images/portrait_square.jpg" class="img-responsive img-circle" alt="user">
                  <div class="wid-u-info">
                      <h4 class="m-t-0 m-b-5"><%= @student.name %></h4>
                      <p class="text-muted m-b-5 font-13"><%= @student.email %></p>
                      <small class="text-custom"><b>Application year <%= @student.app_year %></b></small>
                      <!-- need to seed data -->
                  </div>
              </div>
          </div>
      </div>

      <!-- <div class="col-lg-3 col-md-6">
        <div class="card-box">
          <h4 class="header-title m-t-0 m-b-30">Progress by Category</h4>

          <% @student.tasks_percentage_by_category_count.keys.each do |task| %>
            <% percentage = @student.tasks_percentage_by_category_count[task] %>
            <p class="font-600 m-b-5"> <%= task %> <span class="text-custom pull-right"><%= percentage %>%</span></p>
            <div class="progress progress-bar-custom-alt progress-sm m-b-20">
              <div class="progress-bar progress-bar-custom progress-animated wow animated animated" role="progressbar" aria-valuenow="<%= percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= percentage %>%; visibility: visible; animation-name: animationProgress;">
              </div>
            </div>

          <% end %>

        </div>
      </div> -->

      <div class="col-lg-3 col-md-12 col-sm-12">
        <div class="card-box">
           <h4 class="header-title m-t-0">Tasks</h4>

            <div class="row text-center m-t-30">
              <div class="col-xs-6">
                <h3 data-plugin="counterup"><%= @student.tasks.count %></h3>
                <p class="text-muted">Total Tasks</p>
              </div>
              <div class="col-xs-6">
                <h3 data-plugin="counterup"><%= @student.incomplete_tasks %></h3>
                <p class="text-muted">Open Tasks</p>
              </div>
            </div>

            <div class="text-center m-t-10">
              <div id="total-tasks-donut" style="height: 245px;"></div>
              <ul class="list-inline chart-detail-list m-b-0">
                <li>
                  <h5><i class="fa fa-circle m-r-5" style="color: #FE6271;"></i>Not Done</h5>
                </li>
                <li>
                  <h5><i class="fa fa-circle m-r-5" style="color: #FBD04D;"></i>Pending</h5>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-8 col-sm-12">
          <div class="card-box">

            <h4 class="header-title m-t-0">Tasks</h4>

            <div class="row text-center m-t-30">
              <div class="col-xs-6">
                <h3 data-plugin="counterup"><%= @student.tasks.count %></h3>
                <p class="text-muted">Total Tasks</p>
              </div>
              <div class="col-xs-6">
                <h3 data-plugin="counterup"><%= @student.incomplete_tasks %></h3>
                <p class="text-muted">Open Tasks</p>
              </div>
            </div>

            <div class="text-center m-t-10">
              <div id="total-tasks-donut" style="height: 245px;"></div>
              <ul class="list-inline chart-detail-list m-b-0">
                <li>
                  <h5><i class="fa fa-circle m-r-5" style="color: #FE6271;"></i>Not Done</h5>
                </li>
                <li>
                  <h5><i class="fa fa-circle m-r-5" style="color: #FBD04D;"></i>Pending</h5>
                </li>
              </ul>
            </div>

          </div>

      </div><!-- end col -->
    </div>

  </div>
</div>

<script type="text/javascript">

  var data = [
      <% @student.tasks_by_status_count.each do |type| %>
        {label: '<%=type[:label]%>', value: <%=type[:value]%>},
      <% end %>
  ];

  var colors = [ "#FBD04D", "#fe6271", "#4DDE7B"];

  Morris.Donut({
    element: 'total-tasks-donut',
      data: data,
      resize: true, //defaulted to true
      colors: colors,
      backgroundColor: '#fff'
  });



</script>
