<div class="container-fluid student-header">

  <div class="row">
    <div class="col-xs-12 col-sm-1">
      <p>AVATAR</p>
    </div>
    <div class="col-xs-12 col-sm-11">
      <div class="student-header-top">
        <h3><%= @student.name%>'s Schools</h3>
      </div>
      <div class="student-header-bottom">
        <% if current_user.is_counselor %>
        <%= link_to "Add a school", new_student_college_app_path(student_id: @student.id), class: "btn-rd-out-black" %>
        <% else %>
        <%= link_to "Add a school", new_college_app_path, class: "btn-rd-out-black" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="college-list">
        <% @student.college_apps.each do |college_app| %>
          <div>
            <%= college_app.deadline %>
            <%= college_app.category %>
            <%= college_app.status %>
            <%= college_app.college.name %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <p>here comes the circle data</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="dashboard-todolist">
       <h3>To-Do List</h3>
        <div>
          <table class="table todolist-table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Due Date</th>
                <th>School Page</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="dashboard-notfications">
        <h3>Notifications</h3>
      </div>
    </div>
  </div>
</div>
