<div class="wrapper">
  <div class="container">
  <% if @student.colleges.count.zero? %>
  <div class="container-fluid card-counselor">
  <h4><%= @student.name %> has not started any college applications yet</h4>
      <% if current_user.is_counselor %>
        <%= link_to "Start an application", new_student_college_app_path(@student), class: "btn btn-rec-green" %>
      <% else %>
        <%= link_to "Start an application", new_college_app_path, class: "btn btn-rec-green" %>
      <% end %>
</div>
  <% else %>

    <div class="row">

      <div class="col-md-8 col-sm-12">
        <div class="card-box">
          <h4 class="header-title m-t-0 m-b-30">Progress by College</h4>

          <% @student.task_percentage_by_colleges_count.keys.each do |college| %>
            <% percentage = @student.task_percentage_by_colleges_count[college] %>
            <div>
              <p class="font-600 m-b-5"> <%= college %> <span class="text-custom pull-right"><%= percentage  %>%</span></p>
              <div class="progress progress-bar-custom-alt progress-sm m-b-20">
                <div class="progress-bar progress-bar-custom progress-animated wow animated animated" role="progressbar" aria-valuenow="<%= percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= percentage %>%; visibility: visible; animation-name: animationProgress;">

                  <div>
                  <% if current_user.is_counselor %>
                    <%= link_to "", student_college_app_path(@student, (CollegeApp.where(:college == college)).where(user_id: @student.id).first.id)%>

                  <% else %>
                    <%=link_to "", college_app_path(CollegeApp.where(:college == college).where(user_id: @student.id).first.id) %>
                  <% end %>
                  </div>
                </div><!-- /.progress-bar .progress-bar-danger -->
              </div><!-- /.progress .no-rounded -->
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="card-box widget-user">
              <div>
                <img src="assets/images/portrait_square.jpg" class="img-responsive img-circle" alt="user">
                <div class="wid-u-info">
                <% if user_signed_in? && current_user.is_counselor  %>
                    <h4 class="m-t-0 m-b-5"><%= @student.name %></h4>
                    <p class="text-muted m-b-5 font-13"><%= @student.email %></p>
                    <small class="text-custom"><b>Application year <%= @student.app_year %></b></small>
                <% else %>
                    <h4 class="header-title m-t-0">Your Counselor:</h4>
                     <h4 class="m-t-0 m-b-5"><%= @student.counselor.name %></h4>
                    <p class="text-muted m-b-5 font-13"><%= @student.counselor.email %></p>
                      <!-- need to seed data -->
                <% end %>
                </div>
              </div>
          </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="card-box widget-user">
            <div>
              <h4 class="header-title m-t-0">Next assignment:</h4>

              <%= @student.tasks.first&.name %>
            </div>
          </div>
      </div>


      <div class="col-md-8 col-sm-12">
        <div class="card-box">
          <h4 class="header-title m-t-0">Place Gatt Here SEXY BOY</h4>
          <div>
            <%= timeline @student.college_timings, adapter: "google" %>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card-box">
           <h4 class="header-title m-t-0">Tasks</h4>

            <div class="row text-center m-t-30">
              <div class="col-xs-6">
                <h3 data-plugin="counterup"><%= @student.tasks.count %></h3>
                <p class="text-muted">Total Tasks</p>
              </div>
              <div class="col-xs-6">
                <h3 data-plugin="counterup"><%= @student.incomplete_tasks %></h3>
                <p class="text-muted">Open Tasks</p>
              </div>
            </div>

            <div class="text-center m-t-10">
              <div id="total-tasks-donut" style="height: 245px;"></div>
            </div>

          </div>
        </div>
      </div> <!-- end col -->
  <% end %>
    </div>

  </div>


<script type="text/javascript">

  var data = [
      <% @student.tasks_by_status_count.each do |type| %>
        {label: '<%=type[:label]%>', value: <%=type[:value]%>},
      <% end %>
  ];

  var colors = ["#fe6271", "#FC6F7D", "#FB8792"];

  Morris.Donut({
    element: 'total-tasks-donut',
      data: data,
      resize: true, //defaulted to true
      colors: colors,
      backgroundColor: '#fff'
  });



</script>
