<div class="wrapper-form-add-student">
  <div class="container-form">
    <div class="container text-center">
      <h1>Start a college application for <%= @student.name %></h1>
      <p>Your future begins here</p>
    </div>
    <div class="new-app-form-container text-center">
      <div class="form-groups">
        <div class="form-field">
        <% apps_path = current_user.is_counselor ? student_college_apps_path: college_apps_path %>
        <%= form_for([@student, @college_app], url:"#{apps_path}", class: "form-input-box" ) do |f| %>
          <%= f.select(:college_id) do %>
            <% @colleges.each do |c| -%>
              <%= content_tag(:option, c.name, value: c.id) %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="form-groups">
        <div class="form-field">
          <p>Application deadline</p>
          <%= f.date_field :deadline, as: :date_time_picker, class: "form-input-box", required: true %>
        </div>
      </div>
       <div class="form-groups">
          <div class="form-field-last">
          <p>Application category</p>
          <%= f.select :category, ["REACH", "TARGET", "SAFETY"], class: "form-input-box" %>
          </div>
        </div>
        <%= f.submit class:"btn btn-rec-green" %>
      <% end %>
    </div>
  </div>
</div>





