<div class="wrapper-form">
  <div class="container-form">
    <% apps_path = current_user.is_counselor ? student_college_apps_path: college_apps_path %>
    <%= form_for([@student, @college_app], url:"#{apps_path}" ) do |f| %>
      <%= f.select(:college_id) do %>
        <% @colleges.each do |c| -%>
          <%= content_tag(:option, c.name, value: c.id) %>
        <% end %>
      <% end %>
      <%#= f.hidden_field_tag, :college_id %>
      <%= f.date_field :deadline, as: :date_time_picker%>
      <%= f.select :category, ["REACH", "TARGET", "SAFETY"]%>
      <%= f.submit %>
    <% end %>
  </div>
</div>





