<div class="wrapper-form">
  <div class="container-form">
    <%= simple_form_for @college_app do |f| %>
    <%= f.error_notification %>
      <%= f.input :college_id, collection: @colleges, label:"Name of college" %>
      <%= f.input :deadline, as: :date_time_picker%>
      <%= f.input :category, collection:["REACH", "TARGET", "SAFETY"]%>
      <%= f.button :submit %>
    </div>
  <% end %>
  </div>
</div>
