<% if user_signed_in? && current_user.is_counselor %>
    <script type="text/javascript">
    window.location.href="/students"
    </script>
<% elsif user_signed_in? && !current_user.is_counselor%>
    <script type="text/javascript">
    window.location.href="/college_apps"
    </script>
<% else %>

<div class="banner-cover" id="banner-1">
  <div class="banner-content content-left">
    <h1>You do the college<br>counseling, we'll take care <br>of the paperwork.</h1>
    <h4>Use TurtleCamp to track deadlines and documents,<br>communicate with students and parents,<br>and better manage the college application process.</h4>
    <br>
    <%= link_to "SIGN UP", new_user_registration_path, class:"btn btn-rec-green", id:"call-to-action-btn"%>
  </div>
</div>

<div class="banner-paper">
  <div class="banner-content content-center">
    <div>
      <h1>Motivate your students <br> to achieve their goals.</h1>
      <h4>Our detailed progress bars keep students aware of their tasks,<br>and motivated to meet their deadlines.</h4>
    </div>
    <div id="position-bottom" class="hidden-xs">
      <%= image_tag "studentpage_screen.png", class: "animate", id: "animationscroll"%>
    </div>
  </div>
</div>

<div class="banner-red">
  <div class="banner-content-red">
    <div id="logo-outline" class="hidden-xs">
      <%= image_tag "icon-outline-complete.svg", id:"icon-size" %>
    </div>
    <div class="banner-content content-right">
      <h1>One place,<br>instead of all<br>over the place.</h1>
      <h4>Centralize your students' documents<br>and assignments, so you and your <br>clients are always on the same page.</h4>
      <br>
    </div>
  </div>
</div>

<div class="wrapper-white">
  <div class="container-demo-title">
    <h1>Schedule a demo today!</h1>
  </div>
  <div class="container-demo">
    <div class="container-form-intro">
      <h4>If you’re in Shanghai or Beijing, we can schedule an in-person demo for you and your entire team. If you’re outside of these cities, don’t worry, we’d love to set up an online demo at a time convenient for you.</h4>
    </div>

    <div id="conf_msg">

    </div>

    <div class="container-demo-form">
      <%= simple_form_for(@booking) do |f| %>
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :phone %>
      <%= f.button :submit, class: "btn-rec-out-black btn-block", id:"create_booking"%>
      <% end %>
    </div>
  </div>
</div>
<% end %>


<script>
$('#animationscroll').hide();
  $(window).scroll(function() {
    $('#animationscroll').each(function(){
    var imagePos = $(this).offset().top;

    var topOfWindow = $(window).scrollTop();
      if (imagePos < topOfWindow+50) {
        $(this).show();
        $(this).addClass("slideUp");
      }
    });
  });
</script>


